body, .modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.close, .close:hover {
  color: var(--text-color);
}

* {
  border-radius: 0 !important;
}

.navbar-right {
  margin-right: 0;
}

.bootstrap-switch-label {
  margin-right: -4px;
  margin-left: -4px;
}

.changed-settings .bootstrap-switch{
  border-color: #007bff;
  border-width: 1px;
}

#toast-container > div {
  opacity:1;
}

bs-dropdown-container {
  z-index: 1;
}



.slim-loading-bar-progress {
  transition: opacity 1s ease-in;
  transition-delay: 1s;
  transition-property: opacity;
}

/* Override dark mode */

:root {
  --dark: #111;
  --background-color-secondary: #222 !important;
}

.bg-dark {
  background: #222 !important;
}

* {
  outline: none !important;
}


/* Override lightGallery arrows */
.lg-actions .lg-icon {
  top: 50px;
	display: flex;
	align-items: center;
  height: calc(100% - 100px);
	padding: 0 20px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;  
}

.lg-actions .lg-prev {
  left: 0;
  padding-right: 30px;
}

.lg-actions .lg-next {
  right: 0;
  padding-left: 30px;
}

/* Change progress bar color */
.lg-progress {
  background-color: #666 !important;
}

/* Change video to full height */
.lg-outer .lg-video-cont {
  height: 100%;
}

.lg-outer .lg-video-cont .lg-video {
  position: static;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

/* Move thumb button */
.lg-outer .lg-toggle-thumb {
  top: -1.65em;
  right: 0;
  height: 1.65em;
  background: #222;
  color: #888;
  border-top-left-radius: 10px;
}

.lg-outer .lg-thumb-outer {
  background: #222;
}

/* Change thumbs border */
.lg-outer .lg-thumb-item {
  border-color: #111;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #eee;
}

/* Do not stretch video previews */
.lg-outer .lg-video .lg-object.lg-has-poster {
	width: initial !important;
  height: initial !important;
  max-width: 100%;
  max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)!important;
}

/* Disable fade to black when sliding to next photo */

.lg-item.lg-loaded.lg-complete.lg-prev-slide,
.lg-item.lg-loaded.lg-complete.lg-next-slide {
	opacity: 1 !important;
}

/* Add padding in video player for thumb toggle */
.video-js:not(.vjs-fullscreen) .vjs-control-bar {
  padding-right: 50px;
}

/* Change videoplayer controls (based on videojs/sea theme) */

.video-js .vjs-tech {
  outline: 0;
  max-height: 100vh;
}

.video-js .vjs-big-play-button {
  background-color: rgba(180, 180, 180, 0.5) !important;
  border: none !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.video-js .vjs-control-bar {
  height: 4em;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-js .vjs-button:hover {
  color: #aaa;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-js .vjs-button > .vjs-icon-placeholder::before {
  line-height: 2.2;
}

.video-js .vjs-time-control {
  line-height: 4em;
}

.video-js .vjs-progress-control .vjs-play-progress {
  background-color: rgba(180, 180, 180, 0.15);
}

.video-js .vjs-progress-control .vjs-play-progress:before {
  content: "";
  background: #888;
  width: 1px;
  top: 0;
  right: 0;
  height: 100%;
}

.video-js .vjs-progress-control .vjs-slider {
  background-color: transparent;
}

.video-js .vjs-progress-control .vjs-load-progress {
  background-color: rgba(180, 180, 180, 0.15);
}

.video-js .vjs-progress-control .vjs-load-progress > div {
  background-color: rgba(180, 180, 180, 0.15);
}

.video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0;
  height: 100%;
}

.video-js .vjs-progress-control .vjs-time-tooltip {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/* Fixes for video player */

.vjs-loading-spinner {
  border-radius: 100% !important;
}

.vjs_video_3-dimensions.vjs-fluid {
  padding-top: 0 !important;
}

@media (max-width: 997px) {

  .video-js .vjs-progress-control {
    position: absolute;
    top: -4em;
    left: 0;
    right: 0;
    width: 100%;
    height: 4em;
  }

  .video-js .vjs-control-bar {
    height: 6em;
  }

  .video-js .vjs-control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-js .vjs-mute-control {
    justify-content: flex-end;
    margin-left: 10px;
  }

  .video-js .vjs-button > .vjs-icon-placeholder:before {
    position: static;
  }
}
